.breadcrumbs {
  width: 100%;
  background-color: #F2F3F4; }

.breadcrumbs__container {
  max-height: 50px;
  min-height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden; }

.breadcrumbs__part {
  padding: calc(0.4em + 1vw) 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 0.3s ease;
  text-transform: capitalize; }
  .breadcrumbs__part {
    font-size: 12px; }
    @media screen and (min-width: 320px) {
      .breadcrumbs__part {
        font-size: calc(12px + 2 * ((100vw - 320px) / 1280)); } }
    @media screen and (min-width: 1600px) {
      .breadcrumbs__part {
        font-size: 14px; } }

.breadcrumbs__part:hover {
  color: #F74137; }

.breadcrumbs__part::after {
  content: "";
  display: block;
  height: 1px;
  margin: 0 10px;
  width: 14px;
  background-color: #E1E2E8; }

.breadcrumbs__part:last-child::after {
  content: "";
  display: none; }
