@import "variables";

.categories {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}


@media screen and (min-width: $tablet_width){
  .categories {
    flex-direction: row;
  }

  .categories__left {
    width: 300px;
  }

  .categories__right {
    width: calc(100% - 300px);
  }
}

