@import "variables";

.productTile {
  @include fluid-type($min_width, $desktop_width, 380px, 530px, 'height');
  @include fluid-type($min_width, $desktop_width, 220px, 356px, 'width');
  background-color: white;
  position: relative;
}

//photo
.productTile__photo {
  width: 75%;
  height: auto;
  margin: auto;
  @include fluid-type($min_width, $desktop_width, 1px, 50px, 'margin-top');

  img {
    height: auto;
    width: 100%;
    display: block;
  }
}

//text
.productTile__details {
  text-align: center;
  transform: translateY(70px);
  transition: transform $animation-normal;
  margin: 20px 20px 0 20px;
  @include fluid-type($min_width, $desktop_width, 12px, 14px, 'font-size');
}

.productTile__name {
  font-weight: bold;
}

.productTile__code {
  margin-top: 5px;
}

.productTile__oldPrice {
  margin-top: 17px;
  color: #A3A3A3;
  text-decoration: line-through;
}

.productTile__price {
  font-weight: bold;
}

//buy zone
.productTile__buyZoneWrapper {
  display: flex;
  justify-content: center;
  transition: opacity $animation-normal;
  opacity: 0;
}

.productTile__buyZone {
  height: 50px;
  width: 160px;
  margin: auto;
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.productTile__input {
  display: flex;
  border: 1px solid $border-color;

  //remove input arrows
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.productTile__inputButton {
  width: 23px;
  border: none;
  cursor: pointer;
  background-color: #F8F8F8;
  font-size: 18px;

  &--left {
    border-right: 1px solid $border-color;
  }

  &--right {
    border-left: 1px solid $border-color;
  }

  &:hover {
    background-color: #E7E7E7;
  }
}

.productTile__quantityInput {
  width: 54px;
  display: flex;
  justify-content: center;
  text-align: center;
  border: none;
  outline: none;
}

.productTile__button {
  all: unset;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $secondary-color;
  color: white;
  font-size: 25px;
  cursor: pointer;

  &:hover {
    background-color: #8aba2a;
  }
}

@media screen and (min-width: $tablet_width){
  .productTile__details {
    margin: 0 20px;
  }
}